.Intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto; /* add this line to allow scrolling */
  /* remove the height property to allow the container to expand to fit its content */
  padding-top: 3rem;
  background-color: #020b36;
}

.image-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.intro-image {
  border-radius: 20px;
}

.button-Register-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; /* Full height of the viewport or parent container */
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.button-Register {
  margin: 0;
  /* Add any other styling you need for the button */
}

.EventDetails {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Grid with two columns */
  gap: 20px; /* Adjust gap between items */
  font-size: 1em;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem; /* Added margin on the right for symmetry */
}

.detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
 /* Optional: Add background color */
  padding: 10px; /* Optional: Add padding */
  border-radius: 10px; /* Optional: Add border radius */
}

.detail-item img.icon-FormIntro {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.DetailsEventHeading {
  font-size: 1em;
  font-weight: bold;
  margin-right: 10px;
}

.DetailsEventPara {
  font-size: 0.8em;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.Why-Course {
  padding: 40px;
  background-color: #fff; /* adjust as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* adjust as needed */
  margin: 20px 0;
  border-radius: 15px; /* adjust as needed */
  width: 50%; /* adjust as needed */
}

.WhyHeading {
  font-size: 40px; /* adjust as needed */
  font-weight: 800;
  color: #020b36; /* adjust as needed */
  text-align: center;
}

.WhyHeading2 {
  font-size: 25px; /* adjust as needed */
  font-weight: 800;
  color: #020b36; /* adjust as needed */
  text-align: left;
  padding: 5px 1.8rem;
}

.WhyPara {
  font-size: 18px; /* adjust as needed */
  font-weight: 500;
  color: #333; /* adjust as needed */
  line-height: 1.5; /* adjust as needed */
  text-align: justify;
  padding: 3%;
}

@media (max-width: 786px) {
  .Intro-container {
    padding: 10px; /* add some padding on smaller screens */
  }

  .video-responsive {
    max-width: 100%; /* adjust as needed */
    padding-top: 90.625%; /* adjust for new aspect ratio if needed */
  }

  .Link-pages {
    font-size: 20px; /* adjust as needed */
    flex-direction: column; /* stack the links vertically */
    align-items: flex-start; /* align to the start */
  }

  .Why-Course {
    width: 100%; /* make the course container take up the full width */
    padding: 10px; /* reduce padding on smaller screens */
  }

  .WhyHeading {
    font-size: 20px; /* reduce font size on smaller screens */
  }

  .WhyPara {
    font-size: 14px; /* reduce font size on smaller screens */
  }

  .EventDetails {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px; /* Adjust gap between items */
    margin: 20px 1rem;
    font-size: 0.9em; /* Adjust font size */
  }

  .detail-item {
    padding: 8px; /* Adjust padding */
    border-radius: 8px; /* Adjust border radius */
  }

  .detail-item img.icon-FormIntro {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  .DetailsEventHeading {
    font-size: 1em;
    margin-right: 8px;
  }

  .DetailsEventPara {
    font-size: 0.9em;
    font-weight: 400;
    color: #333;
    text-align: left;
  }

  .button-Register-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .WhyHeading2{
    font-size: 18px;
    padding: 2px 1rem;
  }

  .WhyTrainer{
    font-size: 13px;
  }

  .image-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .intro-image {
    margin-top: 2rem;
    width: 400px; /* Fixed width */
    height: 450px;
    border-radius: 20px; /* Rounded corners */
  }
  
}
