/* Existing CSS */

.Intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto; /* add this line to allow scrolling */
    /* remove the height property to allow the container to expand to fit its content */
    padding-top: 3rem;
    background-color: #020b36;
  }
  
  .video-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 40.25%; /* 16:9 Aspect Ratio */
    width: 100%;
    max-width: 1500px;
    margin-bottom: 2rem;
  }
  
  .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button-Register-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: auto; /* Full height of the viewport or parent container */
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .button-Register {
    margin: 0;
    /* Add any other styling you need for the button */
  }
  
  .EventDetails {
    margin: 20px 2rem;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 3rem;
  }

  .EventDetails strong{
    margin-bottom: 1rem;
    margin-right: 10px;
  }



  .Why-Course {
    padding: 40px;
    background-color: #fff; /* adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* adjust as needed */
    margin: 20px 0;
    border-radius: 15px; /* adjust as needed */
    width: 50%; /* adjust as needed */
  }
  
  .WhyHeading {
    font-size: 40px; /* adjust as needed */
    font-weight: 800;
    color: #020b36; /* adjust as needed */
    text-align: center;
  }

  .WhyHeading2{
    font-size: 25px; /* adjust as needed */
    font-weight: 800;
    color: #020b36; /* adjust as needed */
    text-align: left;
    padding: 5px 1.8rem;
  }

  .WhyTrainer{
    font-size: 18px; /* adjust as needed */
    font-weight: 500;
    color: #333; /* adjust as needed */
    line-height: 1.5; /* adjust as needed */
    text-align: justify;
    padding: 3%;
  }
  
  .WhyPara {
    font-size: 16px; /* adjust as needed */
    font-weight: 300;
    color: #000; /* adjust as needed */
    line-height: 1.5; /* adjust as needed */
    text-align: justify;
    padding: 3%;
  }
  /* New CSS for 786px viewport */
  
@media (max-width: 786px) {
  .Intro-container {
    padding: 10px; /* add some padding on smaller screens */
  }

  .video-responsive {
    max-width: 100%; /* adjust as needed */
    padding-top: 90.625%; /* adjust for new aspect ratio if needed */
  }

  .Link-pages {
    font-size: 20px; /* adjust as needed */
    flex-direction: column; /* stack the links vertically */
    align-items: flex-start; /* align to the start */
  }

  .ogcs-logo {
    width: 150px; /* adjust as needed */
    margin: 10px auto; /* reduce vertical margin and center the image */
  }

  .Why-Course {
    width: 100%; /* make the course container take up the full width */
    padding: 10px; /* reduce padding on smaller screens */
  }

  .WhyHeading {
    font-size: 20px; /* reduce font size on smaller screens */
  }

  .WhyPara {
    font-size: 14px; /* reduce font size on smaller screens */
  }

  .EventDetails {
    margin: 20px 1rem;
    font-size: 1em;
    line-height: 1.4;
    text-align: left;
  }

  .button-Register-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .WhyHeading2{
    font-size: 18px;
    padding: 2px 1rem;
  }

  .WhyTrainer{
    font-size: 13px;
  }
}
